:root,
body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

.editor-container {
    max-width: var(--editor-container-max-width, 770px);

    width: min(100%, calc(var(--editor-container-max-width, 770px) + var(--editor-controls-gutter)));
    padding-left: var(--editor-controls-gutter);

    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family);

    color: var(--color-text);
    background-color: var(--color-bg);

    box-sizing: border-box;
}

#contentArea {
    padding-left: 2rem;
    color: var(--color-text);
    background-color: var(--color-bg);

    width: 710px;
    max-width: 100%;
}

#titleArea {
    padding-left: 2rem;
    color: var(--color-text);
    background-color: var(--color-bg);
    width: 710px;
    max-width: 100%;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

.pointer {
    cursor: pointer;
}

::highlight(persist) {
    /* background-color: var(--color-selection); */
    background-color: pink;
    color: var(--color-selection-text);
}

::selection {
    background-color: var(--color-selection);
    color: var(--color-selection-text);
}

::-moz-selection {
    background-color: var(--color-selection);
    color: var(--color-selection-text);
}

.katex {
    font-size: 1rem;
}

p code {
    background-color: var(--color-surface-muted);
    padding: 0 3px;
    border-radius: 4px;
    border: var(--border-default);
}

.code-block {
    background-color: var(--color-code-block-background);
}

.code-block pre {
    padding: 1rem;
    border-radius: var(--radius-sm);
}

.code-block pre code {
    display: block;
    overflow-x: auto;
    padding: 0;
    outline: none;
    border: none;
    font-family: var(--font-monospace);
    font-size: 0.875rem;
    line-height: 1.5;
    white-space: pre;
}

.todo-list {
    padding-left: 0;
}


.slash-menu-wrapper {
    background-color: transparent !important;
}

@-moz-document url-prefix() {
    .guten-menu ul {
        padding-right: 14px !important;
    }
}


/* Scrollbar styling */
ul::-webkit-scrollbar-track,
.guten-menu::-webkit-scrollbar-track,
.guten-menu ul::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

ul::-webkit-scrollbar-thumb,
.guten-menu::-webkit-scrollbar-thumb,
.guten-menu ul::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

/* Link styling */
a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

a:focus-visible {
    outline: 2px solid var(--link-hover);
    outline-offset: 2px;
}

ul,
ol {
    padding-left: 1rem;
}

/* Spacing */

.block{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
