:root {


    --sep-color: color-mix(in oklab, currentColor 22%, transparent);


    /* === TYPOGRAPHY === */
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
        "Noto Sans", "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --button-font-family: var(--font-family);

    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

    --line-height-base: 1.5;
    --line-height-tight: 1.25;

    /* === SPACING === */
    --space-xs: 0.25rem;  /* 4px */
    --space-sm: 0.5rem;   /* 8px */
    --space-md: 1rem;     /* 16px */
    --space-lg: 1.5rem;   /* 24px */
    --space-xl: 2rem;     /* 32px */
    --space-2xl: 3rem;    /* 48px */

    --space-custom-10: 0.625rem;  /* 10px */

    /* === BORDER RADIUS & SHADOWS === */
    --radius-sm: .25rem;  /* 4px */
    --radius-md: .5rem;   /* 8px */
    --radius-lg: .75rem;  /* 12px */
    --radius-xl: 1rem;    /* 16px */

    --toolbar-radius: 1.125rem;

    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--color-border);
    --border-default: var(--border-width) var(--border-style) var(--border-color);

    --shadow-sm: 0 1px 2px rgba(97, 63, 63, 0.05);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 12px 24px rgba(0, 0, 0, 0.2);

        /* === BUTTONS === */
    --button-padding-y: 0.35rem;
    --button-padding-x: 0.75rem;
    --button-radius: var(--radius-sm);
    --button-bg: var(--color-surface);
    --button-bg-hover: var(--color-surface-muted);
    --button-bg-active: var(--color-surface-muted);
    --button-color: var(--color-ui-text);
    --button-border: var(--border-default);
    --button-shadow: none;
    --button-shadow-hover: var(--button-shadow);
    --button-shadow-active: var(--button-shadow);

    --button-primary-bg: var(--color-primary);
    --button-primary-bg-hover: var(--color-primary-hover);
    --button-primary-bg-active: var(--color-primary-hover);
    --button-primary-color: var(--color-light);
    --button-primary-border: 1px solid var(--color-primary);
    --button-primary-shadow: none;

    --toolbar-button-padding: var(--space-xs);
    --toolbar-button-radius: var(--radius-sm);
    --toolbar-button-bg: transparent;
    --toolbar-button-bg-hover: var(--color-surface-muted);
    --toolbar-button-bg-active: var(--toolbar-button-bg-hover);
    --toolbar-button-border: 1px solid transparent;
    --toolbar-button-border-hover: 1px solid transparent;
    --toolbar-button-border-active: var(--toolbar-button-border-hover);
    --toolbar-button-shadow: none;
    --toolbar-button-shadow-hover: var(--toolbar-button-shadow);
    --toolbar-button-shadow-active: var(--toolbar-button-shadow-hover);
    --toolbar-button-color: var(--color-ui-text);

    --menu-item-bg: transparent;
    --menu-item-bg-hover: var(--color-surface-muted);
    --menu-item-bg-selected: var(--color-surface-muted);
    --menu-item-border: 1px solid transparent;
    --menu-item-border-hover: 1px solid transparent;
    --menu-item-border-selected: 1px solid transparent;
    --menu-item-radius: var(--radius-sm);
    --menu-item-color: var(--color-ui-text);
    --menu-item-color-hover: var(--color-ui-text);
    --menu-item-color-selected: var(--color-ui-text);

    /* === INPUTS === */
    --input-radius: var(--radius-sm);
    --input-border: var(--border-default);
    --input-bg: var(--color-surface-muted);
    --input-color: var(--color-text);

    /* === ICONS === */
    --icon-size-sm: 1rem;     /* 16px */
    --icon-size-md: 1.125rem; /* 18px*/
    --icon-size-lg: 1.25rem;  /* 20px */

    /* === INTERACTION / ANIMATION === */
    --transition-fast: 0.15s ease-in-out;
    --transition-medium: 0.25s ease-in-out;
    --transition-slow: 0.4s ease-in-out;

    --focus-ring-color: var(--color-primary);
    --focus-ring-width: 2px;

    /* === Z-INDEX === */
    --z-dropdown: 100;
    --z-overlay: 1000;
    --z-modal: 1100;
    --z-popover: 1200;
    --z-tooltip: 1300;


    /* === thickness === */
    --thickness-sm: 1px;
    --thickness-md: 2px;
    --thickness-lg: 4px;

    /* === animation duration === */
    --animation-duration-fast: 150ms;
    --animation-duration-medium: 250ms;
    --animation-duration-slow: 400ms;
    --animation-duration-too-slow: 600ms;
    --animation-duration-too-too-slow: 900ms;


    --keycap-symbol-scale: 1;
}


/* Button */
:root {

    /* button */
    --button-radius: var(--radius-sm);
    --button-padding-y: 0.35rem;
    --button-padding-x: 0.75rem;

    --button-bg: var(--color-surface);
    --button-bg-hover: var(--color-surface-muted);
    --button-bg-active: var(--color-surface-muted);
    --button-color: var(--color-ui-text);
    --button-border: var(--border-default);
    --button-shadow: none;
    --button-font-weight: 400;

    /* primary */
    --button-primary-bg: var(--color-primary);
    --button-primary-bg-hover: var(--color-primary-hover);
    --button-primary-bg-active: var(--color-primary-hover);
    --button-primary-color: var(--color-light);
    --button-primary-border: 1px solid var(--color-primary);
    --button-primary-shadow: none;

    /* danger */
    --button-danger-bg: var(--color-danger);
    --button-danger-bg-hover: color-mix(in oklab, var(--color-danger) 85%, black);
    --button-danger-bg-active: color-mix(in oklab, var(--color-danger) 75%, black);
    --button-danger-color: var(--color-light);
    --button-danger-border: 1px solid var(--color-danger);
    --button-danger-shadow: none;
}

/* Input */
:root {
    --input-padding-y: var(--space-sm);
    --input-padding-x: var(--space-sm);

    --input-bg: var(--color-surface-muted);
    --input-color: var(--color-text);
    --input-border: var(--border-default);
    --input-radius: var(--radius-sm);

    --input-placeholder: var(--color-text-placeholder);
    --input-bg-hover: var(--input-bg);
    --input-border-hover: var(--input-border);

    --input-border-focus: 1px solid var(--focus-ring-color);
    --input-focus-ring: 0 0 0 var(--focus-ring-width) color-mix(in oklab, var(--focus-ring-color) 35%, transparent);
}